@font-face{
    font-family:"LetterGothicStd";
    src:url("fonts/LetterGothicStd-Slanted.woff")format("woff");
}

body, p, h1{
    margin:0;
    padding:0;
}

#container{
    text-align:center;
}

h1{
    font-family: helvetica, sans-serif;
    font-size:17vw;
    letter-spacing: -1vw;

}

.body-text{
    font-family:"LetterGothicStd";
    font-size:30px;
    max-width:800px;
    letter-spacing:.1px;
    display:inline-block;
    text-align:left;
    line-height:1.1;
    margin: 40px 20px;
}

img{
    width:80%;
}

@media only screen and (max-width:600px){

    .body-text{
        font-size:18px;
        letter-spacing:0px;
    }
}